@font-face {
    font-family: 'Rounded';
    src: url('/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Rounded';
    src: url('/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Ultralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Rounded';
    src: url('/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rounded';
    src: url('/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rounded';
    src: url('/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rounded';
    src: url('/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rounded';
    src: url('/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rounded';
    src: url('/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Rounded';
    src: url('/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
body {
    font-family: 'Rounded', sans-serif;
}

.el-header{
    padding: 0 !important;
}
.modal-login{
    border-radius: 13px !important;
}
.el-tabs__nav {
    display: flex;

    align-items: center !important;      /* Căn giữa các phần tử theo chiều dọc */
    position: relative !important;
  float: none !important;
}

.el-tabs__content{
    overflow: initial !important;
}
.el-select__wrapper{
    box-shadow: none !important;
    padding: 0 !important;
}
.el-select__suffix{
    display: none !important;
}
body {
    overflow-x: hidden;
  }
.el-main {
    padding: 0px !important;
    width: 100%;
}
